.navbar {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    display: inline;
    padding: 20px 50px;
    line-height: 1.5;
}

body{
    margin-top: 100px;
}

.navbar a {
    margin-right: 1px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background: #050505;
    padding: 0 50px;
    color: white;
    text-decoration: none;
    width: 30vw;
    left: 0;
    right: 0;
}

.navbar, .navbar:visited {
    color:white;
    text-decoration: none;
}

.navbar:hover {
    color: #ccc;
}

footer {
    color: gray;
    background-color: rgb(238, 237, 237);
    padding: 10px
}

@font-face {
    font-family: "MuseoSans-100";
    src: url("../fonts/MuseoSans-100.otf");
}

body {
    font-family: "MuseoSans-100";
}

#space {
    padding: 100px;
    font-weight: 700;
}