.navbar {
    display: flex;
    justify-content: space-between;
    align-items: right;
    display: inline;
    padding: 20px 50px;
    line-height: 1.5;
}

body {
    margin-top: 100px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    color: black;
    padding: 2%;
}

nav {
    background: #050505;
    color: white;
    text-decoration: none;
    left: 0;
    right: 0;
    text-align: center;
    position: relative;
    margin: auto;
}

.navbar, .navbar:visited {
    color:white;
    text-decoration: none;
}

.navbar:hover {
    color: #ccc;
}

footer {
    color: gray;
    background-color: rgb(238, 237, 237);
    padding: 10px
}

@font-face {
    font-family: "MuseoSans-100";
    src: url("../fonts/MuseoSans-100.otf");
}

body {
    font-family: "MuseoSans-100";
}

.space {
    padding: 2%;
    font-weight: 700;
}