footer {
    color: gray;
    background-color: rgb(238, 237, 237);
    padding: 10px
}

@font-face {
    font-family: "MuseoSans-100";
    src: url("../fonts/MuseoSans-100.otf");
}

body {
    font-family: "MuseoSans-100";
}